*{
	box-sizeing:border-box;
}

.header{
	height:230px;
	width:100%;
	border:1px solid blu;
	background-image:url(images/machinami.jpg);
	background-size:cover;
	position:;
	text-align:center;
}

body{
	font-family: Hiragino Kaku Gothic ProN;
}


.youlie-logo{
	floa:;
	width:15%;
	margin-left:;
	cursor:pointer;
}

.youlie-logo:hover{
	opacity:0.5;
	border-radius:0px;
}

.youlie-logo:active {
	position:relative;
	top:5px;
	box-shadow:none;

}

.header-logo{
	margin:;
	
	width:40%;
	margin-top:3%;

	

	
}

.clear{
	clear:left;
}

span{
	color:hotpink;
}



.header-list {
	overflow:hidden;
	margin:10px 0px;
}

.header-list ul {
	margin:0;
	padding:0;
	text-align:center;
}

.header-list li {
	list-style:none;
	float:left;
	background-color:white;
	border:1px solid black;
	box-sizing:border-box;
	display:block;
	width:20%;
	height:40px;
	line-height:40px;


	transition:all 0.7s;
	font-weight:bold;
}

.header-list li:hover {
	background-color:rgba(255,105,180,0.8);
}

.breadcrumb ol li {
	display:inline;
}

.breadcrumb ol li  ::after {
	content:">";
	padding-left:7px;
}


.slide-1 {
	border:2px solid lightgray;
	width:75%;
	margin:20px auto;
}

.bx-viewport:hover {
	opacity:0.5;

}

.mainbox {
	overflow:hidden;
}

.topics_frame {
	width:30%;
	float:left;
	border:2px solid lightgray;
	margin-left:3%;

}
.topics h1{
	background-color:#FA58AC;
	width:80%;
	color:white;
	font-size:20px;
	border:1px solid black;
	padding:10px;
	margin:30px auto;
}

.topics_banner{
	border:1px solid black;
	width:80%;
	margin:0 auto;
	padding:10px;
	margin-bottom:30px;
}


.service_frame{
	width:60%;
	border:2px solid lightgray;
	float:right;
	margin-right:3%;
}

.service h1 {
	background-color:#FA58AC;
	color:white;
	font-size:20px;
	border:1px solid black;
	padding:10px ;
	margin:30px;
}

.service h2 {
	background-color:gray;
	color:white;
	font-size:15px;
	border:1px solid black;
	padding:10px ;
	margin:30px;
}

.service_banner{
	border:1px solid black;
	width:92%;
	margin:0px auto;
	margin-bottom:15px;
	padding-bottom:15px;
}


.sample1 {
	width:100%;
	/*height:200px;*/
	border-bottom:1px solid black;
	margin:0px auto;
}

.sample1:hover {
	opacity:0.5;
}

.service_banner p {
	margin:10px 0px 20px 20px;
}

.skate-shelf{
	width:100%;
	padding:auto;
}

.skate-shelf:hover {
	opacity:0.5;
}

.skate-shelf-2{
	width:80%;
	border:1px solid black;
	padding:10px;
	margin:30px 30px;
}

.skate-shelf-2:hover {
	opacity:0.5;
}




.footer {
	background-color:#FA58AC;
	height:auto;
	padding:10px 0;
	margin:10px 0;
}

.footer_logo {
	color:white;
	font-size:40px;
	font-family:impact;
	letter-spacing:2px;
	opacity:;
	margin:20px 20px 0px 20px;
	border:0px solid black;
	text-align:left;
}

.btn{
	display:inline-block;
	/*box-shadow:2px 2px lightgray;*/
	width:100px;
	color:white;
	padding:5px;
	border:px solid lightgray;
	border-radius:10px;
	margin-left:20px;
	text-align:center;
}

.btn:active{
	box-shadow:none;
	position:relative;
	top:2px;
	left:2px;
}

.instagram {
	background-color:#CF2E92;
}

.insta_gazo{
	width:20%;

}

.facebook {
	background-color:#3b5998;
}

.facebook_gazo{
	width:20%;
}

.twitter {
	background-color:#55acee;
}

.footer_list ol {
	text-align:center;
	border:0px solid 0px;
	padding:0px auto;
	margin-bottom:0px 0px 10px 0px;
	opacity:0.7;
}

.footer_list li {
	display:inline;
	border-left:2px solid black;
	margin:0px 0px 10px ;
	padding:0px 10px;
}
/*
.footer_list ol :nth-child(5){
	border-right:2px solid black;
}*/

/* nth-childの親はliではなくてolだった*/





/