*{
	box-sizeing:border-box;
}

.header{
	height:auto;
	width:100%;
	border:1px solid blu;
	background-image:url(images/machinami.jpg);
	background-size:cover;
	text-align:center;
	margin:4% 0;
}

body{
	font-family: Hiragino Kaku Gothic ProN;
}


.youlie-logo{
	width:15%;
	margin-left:;
	cursor:pointer;
}

.youlie-logo:hover{
	opacity:0.5;
	border-radius:0px;
}

.youlie-logo:active {
	position:relative;
	top:5px;
	box-shadow:none;

}

.header-logo{
	width:40%;
	margin-top:3%;
}

.clear{
	clear:left;
}

span{
	color:hotpink;
}



.header-list {
	overflow:hidden;
	margin:10px 0px;
}

.header-list ul {
	margin:0;
	padding:0;
	text-align:center;
}

.header-list li {
	list-style:none;
	float:left;
	padding:px px;
	background-color:white;
	border:1px solid black;
	box-sizing:border-box;
	display:block;
	width:20%;
	height:40px;
	line-height:40px;


	transition:all 0.7s;
	font-weight:bold;
}

.header-list li:hover {
	background-color:rgba(255,105,180,0.8);
}

.breadcrumb ol li {
	display:inline;
}

.breadcrumb ol li  ::after {
	content:">";
	padding-left:7px;
}



.company_main{
	border:1px solid white;
	display: inline-block;
	width:100%;
	height:;
	margin:0 auto;
}

.company_list{
	position: fixed;
	border:1px solid lightgray;
	width:25%;
	float:left;
	margin-left:10px;
	padding-left:10px;
}

.company_list h1{
	display:inline-block;
	color:hotpink;
	font-size:25px;
	text-align:left;
	width:90%;
}

.company_list h2{
	font-size:20px;
}

.company_threebox{
	border:1px solid lightgray;
	padding:0 20px;
	width:70%;
	float:right;
}

.company_contents .company_contents_mind{
	border:1px solid blue;
	width:100%;
	float:right;

}

.company_threebox h1{
	border-bottom:8px solid hotpink;
	color:hotpink;
}

.company_contents li{
	display:inline-block;
	background-color:lightgray;
}


table{
	width:100%;
}

table th{
	width:20%;
}

table td{
	width:80%;
	padding:20px 30px;
}

.six_years_honshitsu{
	border:0px solid hotpink;
	border-radius:4px;
	/*padding:10px 30px;*/

}













.footer {
	background-color:#FA58AC;
	height:auto;
	padding:10px 0;
	margin:10px 0;
}

.footer_logo {
	color:white;
	font-size:40px;
	font-weight:;
	font-family:impact;
	letter-spacing:2px;
	opacity:;
	margin:20px 20px 0px 20px;
	border:0px solid black;
	text-align:left;
}

.btn{
	display:inline-block;
	box-shadow:3px 3px white;
	width:100px;
	color:white;
	padding:5px;
	border:2px solid white;
	border-radius:10px;
	margin-left:20px;
	text-align:center;
}

.btn:active{
	box-shadow:none;
	position:relative;
	top:3px;
	left:3px;
}

.instagram {
	background-color:#CF2E92;
}

.insta_gazo{
	width:20%;

}

.facebook {
	background-color:#3b5998;
}

.facebook_gazo{
	width:20%;
}

.twitter {
	background-color:#55acee;
}

.footer_list ol {
	text-align:center;
	border:0px solid 0px;
	padding:0px auto;
	margin-bottom:0px 0px 10px 0px;
	opacity:0.7;
}

.footer_list li {
	display:inline;
	border-left:2px solid black;
	margin:0px 0px 10px ;
	padding:0px 10px;
}
